@page
@model Trustchain.Pages.Proofs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProofEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProofEntity.Source)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProofEntity.Source)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProofEntity.Receipt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProofEntity.Receipt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProofEntity.Registered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProofEntity.Registered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProofEntity.WorkflowID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProofEntity.WorkflowID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProofEntity.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
