@page
@model Trustchain.Pages.Proofs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProofEntity[0].Source)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProofEntity[0].Receipt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProofEntity[0].WorkflowID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProofEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Tuple.Create(item.ID, item.Source), "TitleDetailLink")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkflowID)
            </td>
        </tr>
}
    </tbody>
</table>
