@page
@model Trustchain.Pages.Trusts.DetailsModel

@{
    ViewData["Title"] = "Trust";
    Layout = "~/Pages/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trust</title>
</head>
<body>
<h1>Trust</h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Id)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Algorithm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Algorithm)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Created)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Issuer)
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => Model.Trust.Issuer.Type):
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Trust.Issuer.Type)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => Model.Trust.Issuer.Address):
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Trust.Issuer.Address)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => Model.Trust.Issuer.Signature):
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Trust.Issuer.Signature)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Subject)
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => Model.Trust.Subject.Type):
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Trust.Subject.Type)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => Model.Trust.Subject.Address):
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Trust.Subject.Address)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => Model.Trust.Subject.Signature):
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.Trust.Subject.Signature)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Type)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Claim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Claim)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Scope)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Scope)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Cost)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Activate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Activate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Expire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Expire)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => Model.Trust.Timestamps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Trust.Timestamps)
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <pre><code>@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Trust, Newtonsoft.Json.Formatting.Indented)</code></pre>
    </div>
</body>
</html>
